Package: oradio
Version: 0.1.0.r1.cb14e46
Architecture: all
Maintainer: airasz
Depends: mpc,mpd,apache2,php,python3 (>=3.6)
Priority: optional
Homepage: https://github.com/airasz/oradio
Description: internet Radio using mpc mpd
